<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">SignUp</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        <ul>
          <a href="{% url 'create_account' %}">Create Accounts</a>
          <a href="{% url 'create_category' %}">Create Expense Category</a>
          <a href="{% url 'create_receipt' %}">Create Receipts</a>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
